<label class="word"> <%= @word.word %> </label>
<label class="meaning" style="display:none"> <%= @word.meaning %></label>

<input type="submit" value="correct" style="display:none">
<input type="submit" value="incorrect" style="display:none">
