// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.noedit{
  border:0 none;
}

textarea {
 resize: none;
}

li{
 list-style:none; 
}
